.pictures__row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    line-height: 1.5;
}

.pictures__centent {
    width: 100%;
    text-align: center;
}

.pictures__row img {
    height: 200px;
    border-radius: 2%;
}

.pictures__row--title {
    margin-bottom: 8px;
    height: 36px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 36px;
    font-weight: normal;
}
