@import '../../assets/css/style.css';

.articles__row {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.articles__row img {
    height: 75px;
    width: 100px;
    border-radius: 5%;
}

.articles__row--right {
    flex: 1;
    margin-left: 10px;
}

.articles__row--title {
    margin-bottom: 8px;
    height: 36px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;
    font-weight: normal;
}