:global(.am-list-hero) {}

:global(.am-list-hero > .am-list-body) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

:global(.am-list-hero .am-list-item) {
  margin: 3px;
  height: 100px;
  width: 112px;
}

:global(.am-list-hero .am-list-line) {
  display: none;
}

:global(.am-list-hero .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox) {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner) {
  top: 0;
  left: 91px;
}