.content__title {
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.content__date {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px;
}