.header__sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #ffffff;
}

:global(.home__Grid > div) {
  height: 90px;
}

:global(.home__List .am-list-view-scrollview-content am-list){
  position: unset;
}