.carousel a {
  display: inline-block;
  width: 100%;
  margin: 0; padding: 0;
}
.carousel a img {
  width: 100%;
  vertical-align: top;
}
.carousel .v-item {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
}